<section id="create-container">
    <div class="create-container-info">
        <h1>Edit Event</h1>
        <form method="POST">
            <label>Name of the Disaster:</label>
            <input type="text" id="name" name="disasterName" placeholder="..." value="{{disaster.disasterName}}">
            <label>Type of Disaster:</label>
            <select id="type" name="disasterType">
                {{#each disasterTypes}}
                <option value="{{disasterType}}" {{selected}}>{{label}}</option>
                {{/each}}
            </select>
            <label>Year of the Event:</label>
            <input type="number" id="elevations" name="year" placeholder="..." value="{{disaster.year}}">
            <label>Location:</label>
            <input type="text" id="location" name="location" placeholder="..." value="{{disaster.location}}">
            <label>Image:</label>
            <input type="text" id="image" name="image" placeholder="http://..." value="{{disaster.image}}">
            <label>Description:</label>
            <textarea id="description" name="description" placeholder="...">{{disaster.description}}</textarea>
            <input type="submit" id="btn" value="Submit"></input>
        </form>
    </div>
</section>